<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Profile</title>
<link th:href="@{/css/perfil2.css}" rel="stylesheet" type="text/css" />
<link href="https://cdn.usebootstrap.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="container">

    <!-- PerfilAdmin -->
 	<div th:insert="fragments/perfilAdmin :: perfilAdmin"></div>
    <!-- PerfilAdmin -->
    
    <div class="main-body">
     
           <div> <h3>Crear categoría</h3></div>
    
    		<form th:action="@{/crearCategoria}" th:object="${cat}" method="post" class="container-fluid" enctype="multipart/form-data">

							
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Nombre Categoría</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" th:field="*{nombre}"/>
								</div>
							</div>
							
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Descripción</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" th:field="*{descripcion}"/>
								</div>
							</div>
							

							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Imagen</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="file"  accept="image/png, image/jpeg" name="image" value=""/>
								</div>
							</div>

                  <div class="row">
                    <div class="col-sm-12">
                      <input type="submit" value="Guardar" onclick="alert('Categoría creada')"/>
                    </div>
                  </div>


			</form>
		</div>

	</div>
</body>
</html>