<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Profile</title>
<link th:href="@{/css/perfil2.css}" rel="stylesheet" type="text/css" />
<link href="https://cdn.usebootstrap.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="container">
    <div class="main-body">
    
    <!-- PerfilAdmin -->
 	<div th:insert="fragments/perfilAdmin :: perfilAdmin"></div>
    <!-- PerfilAdmin -->
          
                    <div class="row gutters-sm">
    
            
            <h3 style="margin-top:100px; margin-left:50px"> Insertar o modificar producto</h3>
    
    		<form th:action="@{/insertProducto}" th:object="${producto}" method="post" class="container-fluid" enctype="multipart/form-data">
				<div class="container">

							<input type="hidden" class="form-control" th:field="*{id}" value="${producto.id}">
							
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Categoría</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									    <select th:object="${producto.categoria}" th:field="*{id}" class="form-control">
       										<option th:each="cat: ${categorias}" th:value="${cat.id}" th:text="${cat.nombre}"></option>
    									</select>
								</div>
							</div>
							
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Nombre</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="${producto.nombre}" th:field="*{nombre}">
								</div>
							</div>
							
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Descripción</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="${producto.descripcion}" th:field="*{descripcion}">
								</div>
							</div>
							
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Precio</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="${producto.precio}" th:field="*{precio}">
								</div>
							</div>
							
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Stock</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="${producto.stock}" th:field="*{stock}">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Impuesto</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="${producto.impuesto}" th:field="*{impuesto}">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Imagen</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="file"  accept="image/png, image/jpeg" name="image" value="${producto.imagen}">
								</div>
							</div>

                  <div class="row">
                    <div class="col-sm-12">
                      <input type="submit" value="Guardar" onclick="alert('Producto insertado o modificado')"/>
                    </div>
                  </div>
						</div>

			</form>
		</div>
		</div>
	</div>
</body>
</html>