 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


   
    <div th:fragment="navbar"  class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0" th:text="#{categorias}"></h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 247px">
                    
                        
                        <!-- BUCLE PARA CARGAR LAS CATEGORIAS -->
                        
                        <div  th:each="categoria : ${categorias}" >
                        
                        <a th:href="@{/shop/{catId}(catId=${categoria.id})}"  th:text="${categoria.nombre}" class="nav-item nav-link"></a>
                        
                        </div>

                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">BE</span>Freak</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a th:href="@{/}" class="nav-item nav-link active" th:text="#{index}">Home</a>
                            <a th:href="@{/shop}" class="nav-item nav-link" th:text="#{tienda}">Shop</a>
                            <a th:href="@{/cart}" class="nav-item nav-link" th:text="#{cesta}">Shoping Cart</a>
                            <a th:href="@{/contact}" class="nav-item nav-link" th:text="#{contacto}">Contact</a>
                        </div>
                    </div>
                    <div th:if="${user!=null}">
                        <div th:if="${user.id_rol==2} or ${user.id_rol==3}" class="navbar-nav ml-auto py-0">
                            <a th:href="@{/adminInicio}" class="nav-item nav-link">Admin Dashboard</a>
                        </div>
                    </div>
                        <div th:if="${user==null}" class="navbar-nav ml-auto py-0">
                            <a th:href="@{/login}" class="nav-item nav-link" th:text="#{login}">Login</a>
                            <a th:href="@{/register}" class="nav-item nav-link" th:text="#{register}">Register</a>
                        </div>
                 		<div th:if="${user}" class="navbar-nav ml-auto py-0">
                 			<a th:href="@{/perfilResumen}"class="nav-item nav-link" th:text="#{welcome} + ' ' + ${user.nombre} +  ' ' + #{perfil}" ></a>
                            <a th:href="@{/logout}" class="nav-item nav-link" th:text="#{logout}">Logout</a>

                        </div>
                   </nav>
                        
                                     <!--   CARROUSEL -->
				<div class="w3-container">
					<div class="w3-display-container w3-text-black"> 

					  <img th:src="@{/img/categorias/todasCategorias.jpg}" alt="Image" style="height:250px;width:1350px;">
					  <div class="w3-display-topmiddle w3-container"><h3 style="background-color:#07F3FA">10% Off - Code: diez</h3></div>
					  <div class="w3-display-middle w3-large"><h3 style="background-color:#07F3FA">5% Off - Code: cinco</h3></div> 
					  <div class="w3-display-bottommiddle w3-container"><a  style="background-color:#07F3FA" th:href="@{/shop}" class="btn btn-light py-2 px-3"><h4>Shop Now</h4></a></div> 
					</div> 
				</div>
              
              </div>
            </div>
        </div>

 </body>
</html> 